# Ignoring all data storage files
*.pkl
*.ckpt
archive/
data/
final_model/
model_weights/
cache/
.ftpconfig
*.weights

# Removing the .DS_Store
.DS_Store

# Checkpoints and intermediary files
__pycache__/
.ipynb_checkpoints/
*.pyc

env/
